
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #000;
    color: #696969;
    padding: 2rem;
}

.post {
    background-color: #fff;
    max-width: 500px;
    margin-inline: auto;
    padding: 0;
    overflow: hidden;
}

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
}

.post__user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.post__user i {
    font-size: 2rem;
    color: #000;
}

.post__user-info {
    display: flex;
    flex-direction: column;
}

.post__username {
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.post__username-location {
    color: #696969;
    text-decoration: none;
}

.post__options {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.post__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.post__footer{
    padding: 20px;
    padding: 1rem;
}

.post__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.post__actions-group {
    display: flex;
    gap: 0.75rem;
}

.post__actions i {
    color: #000;
    font-size: 1.8rem;
    cursor: pointer;
}

.post__actions i:hover {
    color: #696969;
}

.post__likes {
    margin-bottom: 0.75rem;
    font-size: 0.95rem;
}

.post__strong {
    font-weight: 700;
    color: #000;
}

.post__description {
    font-size: 0.95rem;
    line-height: 1.4;
}